:root {
  --LightModeInput: hsl(0, 0%, 52%);
  --Elements: hsl(0, 0%, 100%);
}
* {
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}
.darkModeHeader {
  background-color: hsl(209, 23%, 22%);
}
.lightModeHeader {
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}
.icono:hover {
  cursor: pointer;
}
.pais-card{
  width: 16rem;
  margin: 2rem auto;
}
.pais-card img{
  width: 90%;
  height: 100%;
  border-radius: .5rem;
}
.pais-card p{
  font-weight: 600;
}
.pais-card p span{
  font-weight: 200;
}