:root {
  --LightModeInput: hsl(0, 0%, 52%);
  --Elements: hsl(0, 0%, 100%);
}
* {
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}
a{
  text-decoration: none;
  color: unset;
}
.darkModeHeader {
  background-color: hsl(209, 23%, 22%);
}
.lightModeHeader {
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}
.icono:hover {
  cursor: pointer;
}
.pais-card{
  width: 16rem;
  margin: 2rem auto;
}
.pais-card img{
  width: 96%;
  height: 100%;
  border-radius: .5rem;
}
.pais-card p{
  font-weight: 600;
}
.pais-card p span{
  font-weight: 200;
}
.buscador{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
  border: 1px solid rgba(128, 128, 128, 0.288);
  border-radius: .4rem;
  padding: .4rem 1rem;
  width: 80%;
}
.buscador input{
  border: none;
  padding: .5rem 1rem;
  border-radius: .4rem;
  margin-left: .4rem;
  outline: none;
  background-color: transparent;
}
