:root {
  --LightModeInput: hsl(0, 0%, 52%);
  --Elements: hsl(0, 0%, 100%);
}
* {
  font-family: "Nunito Sans", sans-serif;
}
h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.699);
}
a {
  text-decoration: none;
  color: unset;
}
.card-padding {
  padding-left: 1rem;
}
.pais-card {
  max-width: 16rem;
  margin: 2rem auto;
  border: 1px solid rgba(128, 128, 128, 0.288);
  padding-bottom: 1rem;
  transition: all 0.4s;
  cursor: pointer;
}
.pais-card:hover {
  transform: scale(1.05);
}
.pais-card-img {
  width: 100%;
  border-radius: 0.5rem;
}
.pais-card-parrafo {
  font-weight: 600;
}
.pais-card-p-span {
  font-weight: 200;
}
.buscador {
  display: flex;
  align-items: center;

  border: 1px solid rgba(128, 128, 128, 0.288);
  border-radius: 0.4rem;
  width: 20rem;

  margin-top: 1rem;
}

.contenedor {
  margin: 0;
  width: 100%;
}
.buscador svg {
  padding-left: 1rem;
}
.buscador input {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  margin-left: 0.4rem;
  outline: none;
  background-color: transparent;
}
.buscador-eliminar:hover {
  cursor: pointer;
}
.select-region {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(128, 128, 128, 0.288);
  border-radius: 0.4rem;
  outline: none;
}
.error {
  text-align: center;
  font-weight: 400;
  margin: 1rem;
  display: flex;
  align-items: center;
  height: 50vh;
  justify-content: center;
}
.volver-btn {
  background-color: #fff;
  padding: 0.5rem 1.6rem;
  border: 1px solid rgba(128, 128, 128, 0.377);
  cursor: pointer;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.contenedor-pais {
  width: 16rem;
  margin: 1rem auto;
}
.pais-card-p-span span {
  margin: 0 0.5rem;
}
.pais-card-p-span span:first-child {
  margin: 0 0.5rem;
  margin-left: 1rem;
}
.topLevel {
  margin: 2rem 0;
}
.border-countries {
  font-weight: 600;
}
.limitrofes {
  border: 1px solid #0000003a;
  padding: 0.2rem 2rem;
  width: 2rem;
  margin: 0.5rem;
}
.limitrofes-paises {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.buscadores-responsive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .tablet-design .pais-card-img {
    width: 27rem;
    height: 100%;
  }
  .limitrofes-paises {
    margin-bottom: 2rem;
  }
  .border-countries {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .limitrofes {
    margin-left: 0;
  }
  .buscadores-responsive {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
    gap: 2rem;
  }
  .buscador,
  .select-region,
  .topLevel {
    margin: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contenedor-pais {
    min-width: 30rem;
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .tablet-design {
    display: flex;
  }
  .testing {
    margin-left: 6rem;
  }
}
